// 首页显示风格
.home .hero #main-title {
    color: darkorange;
}
.home .hero p.description {
    font-size: 14pt;
}

// 模仿 trac 的 inline code 样式
.theme-default-content :not(pre)>code {
    font-family: monospace;
    color: #600;
    border: 1px solid #edc;
    border-radius: .25em;
    padding: 0 0.3em;
    background: #fafafa;
}

// 扩大页面显示范围, 减少两侧空白
.theme-default-content:not(.custom) {
    max-width: none;
}
.page .page-nav {
    max-width: none;
}
.page .page-edit {
    max-width: none;
}

// 图片放大显示时使用半透明背景
.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.5 !important;
}